* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: top;
	color: inherit;
	line-height: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	box-sizing: border-box;
}
html,
body,
canvas {
	height: 100%;
	width: 100%;
}
canvas {
	display: block;
	position: absolute;
}
body {
	background-color: #000;
	color: #999;
	line-height: 1.5rem;
	font-size: 16px;
	font-family: monaco, monospace;
	font-weight: normal;
}
#app {
	height: 100%;
}

input,
button,
select,
textarea {
	color: #9f0;
	padding: 2px 4px;
	margin: 2px 2px;
	background-color: #333;
	border: 1px solid #666;
	vertical-align: middle;
	height: 2rem;
}
textarea {
	max-width: 100%;
}

button.save,
input[type='submit'] {
	background-color: #555;
}

input[type='submit']:hover,
button:hover {
	border: 1px solid #888;
	background-color: #444;
	cursor: pointer;
}

.form-control {
	background-color: #252525;
	padding: 8px;
	margin-bottom: 0.5rem;
}
.form-control > label {
	display: block;
}

label > span,
label > input,
label > textarea {
	display: block;
}
label > span {
	color: #bbb;
	font-size: 0.75rem;
}

code,
.code {
	border-radius: 4px;
	background-color: #0008;
	padding: 4px 8px;
}
code {
	margin: 0 -4px;
}

p,
pre {
	margin-bottom: 0.5rem;
	font-size: 0.75rem;
}
